<%=render 'public/header' %>
<h2>注文履歴詳細</h2>
<h4>注文情報</h4>
<p>注文日:<%=@order.created_at.strftime('%Y/%m/%d') %></p>
<p>配送先:<%=@order.postal_code %>
          <%=@order.address %>
          <%=@order.name %></p>
<p>支払い方法:<%=@order.payment_method %></p>


<h4>請求情報</h4>
<p>商品合計:<%= @total.round.to_s(:delimited)%></p>
<p>配送料:<%=@order.postage %></p>
<p>ご請求額:<%=@total+@order.postage%></p>

<h4>注文内容</h4>
<% @cart_items.each do |cart_item| %>
  <p>商品名:<%=cart_item.item.name %></p>
  <p>単価:<%=cart_item.item.add_tax_price.to_s(:dalimited) %></p>
  <p>数量:<%=cart_item.amount %></p>
  <p>小計:<%=cart_item.sum_of_price %></p>
<% end %>


<!--支払い方法が記載されていない-->